# Creates a Persistent VM with external data and swap drives both with CMEK.  We also used of shared VPC and labels.

resources:
- type: compute.v1.disk
  name: disk-{{ env["deployment"] }}-data
  properties:
    sizeGb: 30
    zone: {{ properties["xpn_zone"] }}
    #diskEncryptionKey:
    #  kmsKeyName: "projects/{{ properties["kms_project_id"] }}/locations/global/keyRings/{{ properties["keyring"] }}/cryptoKeys/{{ properties["cyptokey"] }}"

- type: compute.v1.disk
  name: disk-{{ env["deployment"] }}-swap
  properties:
    sizeGb: 5
    zone: {{ properties["xpn_zone"] }}
    #diskEncryptionKey:
    #  kmsKeyName: "projects/{{ properties["kms_project_id"] }}/locations/global/keyRings/{{ properties["keyring"] }}/cryptoKeys/{{ properties["cyptokey"] }}"

- type: compute.v1.instance
  name: vm-ds-{{ env["deployment"] }}
  properties:
    serviceAccounts: {{ properties["service_accounts"] }}
    zone: {{ properties["xpn_zone"] }}
    machineType: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/zones/{{ properties["xpn_zone"] }}/machineTypes/{{ properties["machinetype"] }}
    labels:
      vm-type: 'ai-user-work-vm'
    metadata:
      items:
      - key: enable-oslogin
        value: |
          TRUE
      - key: enable-oslogin-2fa
        value: |
          TRUE
      - key: startup-script
        value: |
          #!/bin/bash
          yum install -y {{ properties["packages"] }}

    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      #diskEncryptionKey:
      #  kmsKeyName: "projects/{{ properties["kms_project_id"] }}/locations/global/keyRings/{{ properties["keyring"] }}/cryptoKeys/{{ properties["cyptokey"] }}"
      initializeParams:
        diskName: disk-{{ env["deployment"] }}
        sourceImage: "projects/{{ properties["image_project_id"] }}/global/images/{{ properties["image_name"] }}"

    - deviceName: disk-{{ env["deployment"] }}-data
      boot: false
      autoDelete: true
      source: $(ref.disk-{{ env["deployment"] }}-data.selfLink)

    - deviceName: disk-{{ env["deployment"] }}-swap
      boot: false
      autoDelete: true
      source: $(ref.disk-{{ env["deployment"] }}-swap.selfLink)

    networkInterfaces:
    - subnetwork: https://www.googleapis.com/compute/v1/projects/{{ properties["xpn_project_id"] }}/regions/{{ properties["xpn_region"] }}/subnetworks/{{ properties["xpn_subnetwork"] }}

      # Access Config required to give the instance a public IP address
      #accessConfigs:
      #- name: External NAT
      #  type: ONE_TO_ONE_NAT

# Declare outputs here
outputs:
- name: cliCommand
  description: YOUR LOGIN INFO
  value: gcloud beta compute ssh vm-ds-{{ env["deployment"] }} --tunnel-through-iap --zone {{ properties["xpn_zone"] }} -- -L 2222:localhost:3389
