# Creates a Persistent VM

resources:
- type: compute.v1.instance
  name: vm-ds-{{ env["deployment"] }} # VM and Deployment Name will be vm-ds-VAR
  properties:
    zone: {{ properties["zone"] }} # Network zone chosen    
    # 
    machineType: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/zones/{{ properties["zone"] }}/machineTypes/{{ properties["machinetype"] }}
    labels: # use label if needed
      vm-type: 'ai-user-work-vm'
    metadata: # enable OS Login, 2FA and also install custom paxckages from input
      items:
      - key: enable-oslogin
        value: |
          TRUE
      - key: enable-oslogin-2fa
        value: |
          TRUE
      - key: startup-script
        value: |
          #!/bin/bash
          yum install -y {{ properties["packages"] }}
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      #diskEncryptionKey: # if you want to use CMEK
        #kmsKeyName: "projects/{{ env["project"] }}/locations/global/keyRings/{{ env["keyring"] }}/cryptoKeys/{{ env["cryptokey"] }}"
        ### Sample kmsKeyName: "projects/{{ env["project"] }}/locations/global/keyRings/one_ring_to_rule_them_all/cryptoKeys/my_precious"        
      initializeParams:
        diskName: disk-{{ env["deployment"] }}
        # Golden image location.  In our case its in another project who holds all the images
        sourceImage: "projects/tj4h-project2/global/images/ds-vm-centos7-xrdp"
                     #https://www.googleapis.com/compute/v1/projects/debian-cloud/global/images/family/debian-9
    - deviceName: disk-{{ env["deployment"] }}-data
      type: gcp-types/compute-v1:disks
      zone: {{ properties["zone"] }}
      sizeGb: 10
      
    networkInterfaces:  #use shared VPC or not. Full path is important
    - subnetwork: https://www.googleapis.com/compute/v1/projects/PROJECT_NAME/regions/REGION_NAME/subnetworks/{{ properties["subnetwork"] }}

      # Access Config required to give the instance a public IP address
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT

# Ouputs the CLI command to GCLOUD SSH to the instance.  This shows in the LAYOUT section of th dpeloyment.
outputs:
- name: cliCommand
  description: YOUR LOGIN INFO
  value: gcloud beta compute ssh vm-ds-{{ env["deployment"] }} --internal-ip --zone {{ properties["zone"] }} -- -L 2222:localhost:3389
